image: node

stages:
  - build
  - test
  - deploy
  - deployment tests

build website:
  stage: build
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
  artifacts:
    paths:
      - ./public
test artifact:
  image: alpine
  stage: test
  script:
    - grep -q "Gatsby" ./public/index.html

test website:
  stage: test
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby serve &
    - sleep 3
    - curl "http://localhost:9000" | tac | tac | grep -q "Gatsby"

deploy website:
  stage: deploy
  script:
    - npm install --global surge
    - surge --project ./public --domain jafy.surge.sh

test deployment:
  image: alpine
  stage: deployment tests
  script:
    - apk --no-cache add curl
    - curl "https://jafy.surge.sh/" | tac | tac | grep -q "Gatsby"
